NEXT_PUBLIC_SUPABASE_ANON_KEY="..."
SUPABASE_URL="https://tvwztmfohlmsvsnunyhw.supabase.co"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db.tvwztmfohlmsvsnunyhw.supabase.co"
POSTGRES_PASSWORD="..."
POSTGRES_PRISMA_URL="..."
POSTGRES_URL="..."
POSTGRES_URL_NON_POOLING="..."
POSTGRES_USER="postgres"
SUPABASE_JWT_SECRET="..."
SUPABASE_SERVICE_ROLE_KEY="..."
ROUTE_DISTANCE_METRIC="manhattan"
