NEXT_PUBLIC_SUPABASE_URL=https://tvwztmfohlmsvsnunyhw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

SUPABASE_URL=https://tvwztmfohlmsvsnunyhw.supabase.co
SUPABASE_JWT_SECRET=your-supabase-jwt-secret
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

POSTGRES_DATABASE=postgres
POSTGRES_HOST=db.tvwztmfohlmsvsnunyhw.supabase.co
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_PRISMA_URL=your-postgres-prisma-url
POSTGRES_URL=your-postgres-url
POSTGRES_URL_NON_POOLING=your-postgres-url-non-pooling
POSTGRES_USER=postgres

ROUTE_DISTANCE_METRIC=manhattan
